<div class="section-wrapper">
    <div class="color-swoosh">
        <div class="color-swoosh__image-container">
            <img src="{image}">
        </div>

        <div class="color-swoosh__content">
            <div class="color-year__columns">
                <div class="color-year__column">
                    <h2>Färgen Tall är en mellangrön färg med inslag av gula pigment.</h2>
                </div>
                <div class="color-year__column">
                    <div class="color-swoosh__color-fact">
                        <div class="color-year__columns">
                            <columns>
                                <div class="color-year__column color-year__column--sm">
                                    <label>{label}</label>
                                    <p>{value}</p>
                                </div>
                            </columns>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .color-swoosh {
        margin-bottom: 158px;
    }

    .color-swoosh__image-container {
        margin-bottom: 60px;
    }

    .color-swoosh img {
        width: 103.777%;
        max-width: none;
        position: relative;
        left: -1.8%;
    }

    .color-swoosh h2 {
        font-size: 33px;
        line-height: 45px;
        color: #666;
        max-width: 448px;
        font-weight: 400;
    }

    .color-swoosh__color-fact {
        margin-top: 8px;
    }

    .color-swoosh__color-fact .color-year__column {
        max-width: 190px;
    }

    .color-swoosh__color-fact label {
        font-size: 12px;
        color: #666;
        opacity: 0.4;
        font-weight: 400;
        letter-spacing: 1.06px;
        text-transform: uppercase;
        display: block;
        margin: 0 0 10px 0;
    }

    .color-swoosh__color-fact p {
        font-weight: 16px;
        letter-spacing: 0.47px;
        color: #666;
        font-weight: 400;
        margin: 0 0 30px 0;
    }

    @media (max-width: 720px) {

        .color-swoosh {
            margin-bottom: 24px;
        }

        .color-swoosh__image-container {
            position: absolute;
            left: 0;
            right: 0;
            width: 100vw;
            overflow: hidden;
        }

        .color-swoosh img {
            width: auto;
            left: -386px;
            height: 308px;
        }

        .color-swoosh__content {
            position: relative;
            padding-top: 300px;
        }

        .color-swoosh h2 {
            font-size: 25px;
            line-height: 32px;
            max-width: none;
        }

        .color-swoosh__color-fact {
            margin-top: 45px;
        }

    }
</style>