<div id="color-sections" class="c-color-sections">

    <colors>

        <div class="c-color-section">
            <picture class="c-color-section__image">
                <source media="(max-width: 720px)" srcset="{image-mobile}">
                <img src="{image}" alt="{header}">
            </picture>

            <div class="c-color-section__content">
                <p class="c-color-section__label">{label}</p>
                <h2 class="c-color-section__header">{header}</h2>
                <p class="c-color-section__preamble">{preamble}</p>
                <p class="c-color-section__preamble-mobile">{preamble-mobile}</p>
                <a style="color: {cta-color}; background: {cta-background};" class="c-color-section__cta"
                    href="{url}">{cta}</a>
            </div>
        </div>

    </colors>


</div>


<style>
    .debug {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: red;
        z-index: 100;
    }

    .c-color-section {
        height: 100vh;
        color: white;
        text-align: center;
        position: relative;
    }

    .c-color-section__content {
        width: 100%;
        max-width: 480px;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        position: absolute;
        opacity: 1;
        transition: opacity 2s ease;
        padding-top: 45vh;
    }

    .c-color-section__image,
    .c-color-section__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        display: block;
        pointer-events: none;
    }

    .c-color-section__image {
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        transition: opacity 0.6s linear;

    }

    .c-color-section--in-view .c-color-section__image {
        opacity: 1;
    }

    .c-color-section--in-view .c-color-section__content {
        opacity: 1;
    }


    .c-color-section__header {
        font-size: 84px;
        line-height: 102px;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin: 0 0 24px 0;
    }

    .c-color-section__label {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 24px;
        margin: 0 0 18px 0;
    }

    .c-color-section__preamble {
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0;
        font-weight: 400;
        margin: 0 0 44px 0;
    }

    .c-color-section__preamble-mobile {
        display: none;
    }

    .c-color-section__cta {
        display: inline-block;
        text-transform: uppercase;
        color: inherit;
        padding: 17px 68px;
        font-size: 13px;
        line-height: 1;
        border-radius: 4px;
        margin: 0 auto;
        -webkit-font-smoothing: antialiased;
        letter-spacing: 1.42px;
        text-decoration: none;
        font-weight: 400;
        background: #AEA798;
    }

    @media (max-width: 720px) {
        .c-color-section__label {
            display: none;
        }

        .c-color-section__content {
            padding: 0 20px;
            transform: translate3d(-50%, -70%, 0);
        }

        .c-color-section__header {
            font-size: 64px;
            line-height: 72px;
            margin-bottom: 8px;
        }

        .c-color-section__preamble {
            display: none;
        }

        .c-color-section__preamble-mobile {
            display: block;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 1.5px;
            font-weight: 300;
            margin-bottom: 80px;

        }


    }
</style>


<script>

    $(function () {

        $(window).resize(function () {
            updateColorSectionHeights();
        });
        updateColorSectionHeights();

        $(window).scroll(function () {
            updateColorSections();
        });
        updateColorSections();
    });

    function updateColorSectionHeights() {
        $('.c-color-section').css('height', $(window).height());
    }

    function updateColorSections() {

        var debug = "";

        var sections = $('#color-sections');


        var windowHeight = $(window).height();

        debug += 'windowHeight:' + windowHeight;



        var maxInView = 0;
        var maxElement = null;
        var factor = 0;
        var maxElementTop = 0;



        $.each(sections.children(), function (index, section) {

            var section = $(section);

            var rect = section[0].getBoundingClientRect();
            var elementHeight = section.outerHeight();

            var visible = Math.max(0, rect.top > 0 ? Math.min(elementHeight, windowHeight - rect.top) : Math
                .min(rect
                    .bottom, windowHeight));

            if (visible >= maxInView && visible > 0) {
                maxInView = visible;
                maxElement = section;
                factor = visible / elementHeight;
                maxElementTop = rect.top;
            }
        });

        if (maxElement) {
            sections.children().each(function (index, value) {
                if (value != maxElement[0]) {
                    $(value).removeClass('c-color-section--in-view');
                }
            });

            maxElement.addClass('c-color-section--in-view');

            var scaleFactor = maxElementTop > 0 ? factor : (1 + (1 - factor));

            var scale = 1 + (scaleFactor / 100);

            maxElement.find('.c-color-section__image').css('transform', 'scale3d(' + scale + ', ' + scale + ', 1)');
        } else {
            sections.children().each(function (index, value) {
                $(value).removeClass('c-color-section--in-view');
            });
        }


    }

</script>