<div class="section-wrapper">
    <div class="image-text">
        <div class="column column__image">
            <img src="images/product-details-1-1.jpg">
        </div>
        <div class="column column__text-content">
            <div class="text-content">
                <h2>Lindö Tall är senaste tillskottet i familjen gröna kök</h2>
                <p>Lindö är en klassisk exklusiv spegellucka med brett färgval och många vitrinval. Av alla våra kök är
                    Lindö det som har mest profilerad ram och spegel.</p>
                <div class="link-container">
                    <a class="link-container__link link-container__link--primary" href="#">Se Lindö Tall</a>
                    <a class="link-container__link link-container__link--secondary" href="#">Se alla gröna kök ›</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image-text {
        display: flex;
        margin-bottom: 158px;
    }

    .image-text .column__image {
        width: 60%;
    }

    .image-text .column__text-content {
        width: 40%;
        margin: auto 0;
    }

    .image-text img {
        display: block;
    }

    .image-text .text-content {
        margin-left: 16.6%;
        max-width: 340px;
    }

    .image-text h2 {
        font-size: 33px;
        line-height: 45px;
        font-weight: 400;
        color: #C3A572;
        margin: 0 0 16px 0;
    }

    .image-text p {
        font-size: 18px;
        line-height: 27px;
        color: #666;
        font-weight: 300;
        margin-bottom: 18px;
    }

    .image-text .link-container {
        display: flex;
        flex-direction: column;
    }

    .image-text .link-container__link {
        font-size: 18px;
        line-height: 33px;
        text-decoration: underline;
        display: inline-block;
        font-weight: 400;
    }

    .image-text .link-container__link--primary {
        color: #003A70;
    }

    .image-text .link-container__link--secondary {
        color: #666;
    }
</style>