<div class="section-wrapper">
    <div class="image-text">
        <div class="column column__image">
            <img src="{image}">
        </div>
        <div class="column column__text-content">
            <div class="text-content">
                <h2>{header}</h2>
                <p>{preamble}</p>
                <div class="link-container">
                    <links>
                        <a class="link-container__link link-container__link--primary" href="{url}">{name}</a>
                    </links>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .image-text {
        display: flex;
        margin-bottom: 58px;
    }

    .image-text .column__image {
        width: 60%;
    }

    .image-text .column__text-content {
        width: 40%;
        margin: auto 0;
    }

    .image-text img {
        display: block;
    }

    .image-text .text-content {
        margin-left: 16.6%;
        max-width: 340px;
    }

    .image-text h2 {
        font-size: 33px;
        line-height: 45px;
        font-weight: 400;
        color: #C3A572;
        margin: 0 0 16px 0;
    }

    .image-text p {
        font-size: 18px;
        line-height: 27px;
        color: #666;
        font-weight: 300;
        margin-bottom: 18px;
    }

    .image-text .link-container {
        display: flex;
        flex-direction: column;
    }

    .image-text .link-container__link {
        font-size: 18px;
        line-height: 33px;
        text-decoration: underline;
        display: inline-block;
        font-weight: 400;
    }

    .image-text .link-container__link--primary {
        color: #003A70;
    }

    .image-text .link-container__link--primary:nth-child(2) {
        color: #666;
    }

    @media (max-width: 720px) {
        .image-text {
            display: block;
            margin-bottom: 100px;
        }

        .image-text .column__image {
            width: 100%;
        }

        .image-text .text-content {
            margin-left: 0;
            max-width: none;
        }

        .image-text .column__text-content {
            width: 100%;
        }

        .image-text h2 {
            font-size: 25px;
            line-height: 32px;
            margin: 10px 0 6px 0;
        }

        .image-text p {
            font-size: 17px;
            line-height: 25px;
            margin-bottom: 12px;
        }

        .image-text .link-container__link {
            font-size: 17px;
            line-height: 33px;

        }
    }
</style>