<div class="section-wrapper">
    <div class="product-description">
        <h2 style="color: {header-color};">{header}</h2>
        <p>{preamble}</p>
    </div>
</div>
<style>
    .product-description {
        padding: 110px 0 70px;
        max-width: 890px;
    }

    .product-description,
    .product-description h2 {
        font-size: 34px;
        font-weight: 300;
        line-height: 37px;
        color: #666;
    }

    .product-description h2 {
        font-weight: 400;
        letter-spacing: -0.44px;
        margin: 0 0 12px 0;
    }

    .product-description p {
        opacity: 0.4;
    }

    @media (max-width: 720px) {

        .product-description,
        .product-description h2 {
            font-size: 22px;
            line-height: 27px;
        }

        .product-description {
            padding: 50px 0;
            max-width: 270px;
            margin: 0 auto;
        }
    }
</style>