<div class="section-wrapper">
    <div class="product-contact">
        <div class="color-year__columns">
            <div class="color-year__column">
                <img src="images/product-details-contact.jpg">
            </div>
            <div class="color-year__column color-year__column--vertical-center">
                <div class="product-contact__content">
                    <h2>Kom in och prata färg med oss i butiken</h2>
                    <p>Boka in en träff med en av våra köksdesigners för att snacka planering, material och färg av våra
                        kök.</p>
                    <a href="#">Träffa en designer</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product-contact {
        margin-bottom: 124px;
    }

    .product-contact__content {
        max-width: 376px;
    }

    .product-contact h2 {
        color: #C3A572;
        font-size: 37px;
        line-height: 45px;
        font-weight: 400;
        margin: 0 0 22px 0;

    }

    .product-contact p {
        font-size: 18px;
        color: #666;
        font-weight: 300;
        line-height: 27px;
        margin-bottom: 18px;


    }

    .product-contact a {
        color: #003A70;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 400;
    }

    @media(max-width: 720px) {
        .product-contact {
            margin-bottom: 90px;
        }

        .product-contact h2 {
            font-size: 25px;
            line-height: 32px;
            margin: 11px 0 9px 0;
        }

        .product-contact p {
            font-size: 17px;
            line-height: 25px;
            margin-bottom: 14px;
        }

        .product-contact a {
            font-size: 17px;
        }
    }
</style>