<div class="section-wrapper">

    <div class="product-scroll-list">
        <h2 class="product-scroll-list__header">{header}</h2>
        <div class="product-scroll-list-wrapper">

            <products>

                <a class="product-scroll-list__item">
                    <div class="product-scroll-list__image-container {padded-image}">
                        <img src="{image}">
                    </div>
                    <h3>{name}</h3>
                    <p>{description}</p>
                </a>

            </products>



        </div>
        <div class="product-scroll-list__navigate">
            <div class="product-scroll-list__navigate-button"></div>
        </div>

    </div>
</div>

<script>
    $(function () {

        $('.product-scroll-list__navigate-button').click(function () {

            var width = $('.product-scroll-list-wrapper').width();
            var paddingLeft = parseInt($('.product-scroll-list-wrapper').css('padding-left').replace('px', ''));

            var scrollList = $('.product-scroll-list-wrapper');

            var itemWidth = $('.product-scroll-list__item').outerWidth();

            var totalItems = $('.product-scroll-list__item').length;

            var totalWidth = totalItems * itemWidth;


            var numVisibleItems = Math.floor(width / itemWidth);

            if (totalWidth - (scrollList.scrollLeft() + width) <= 20) {
                scrollList.animate({ scrollLeft: 0 }, 500);
            }
            else {
                scrollList.animate({ scrollLeft: scrollList.scrollLeft() + (numVisibleItems * itemWidth) }, 700);
            }
        });

        function initScrollList() {
            var scrollList = $('.product-scroll-list-wrapper');
            var parent = scrollList.parent();

            scrollList.css('padding-left', parent.offset().left + 'px');
            parent.css('height', scrollList.height() + $('.product-scroll-list__header').outerHeight() + 20);


            var totalWidth = $('.product-scroll-list__item').outerWidth() * $('.product-scroll-list__item').length;

            console.log(totalWidth);
            if (totalWidth > scrollList.width() && $(window).width() > 720) {
                $('.product-scroll-list__navigate').show();
            }
            else {
                $('.product-scroll-list__navigate').hide();
            }
        }

        $(window).resize(function () {
            initScrollList();
        });

        setTimeout(function () {
            initScrollList();
        }, 100);

    })

</script>
<style>
    .product-scroll-list {
        margin-bottom: 127px;
        width: 100%;

    }

    .product-scroll-list h2 {
        font-size: 33px;
        line-height: 45px;
        color: #C3A572;
        font-weight: 400;
        margin-bottom: 20px;
    }


    .product-scroll-list-wrapper {
        display: flex;
        left: 0;
        right: 0;
        position: absolute;
        overflow: hidden;
    }

    .product-scroll-list__item {
        /*display: inline-block;*/
        /*width: 23.652%;*/
        display: block;
        min-width: 285px;
        max-width: 285px;
        padding-right: 22px;
    }

    .product-scroll-list__image-container {
        background: #f8f8f8;
        padding-bottom: 131.94%;
        position: relative;
        margin-bottom: 12px;

    }

    .product-scroll-list__image-container img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-scroll-list__image-container.true img {
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);

        object-fit: initial;

        height: 224px;
        width: auto;
    }

    .product-scroll-list__item h3 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #666;
        margin: 0 0 7px 0;
        text-transform: uppercase;
    }

    .product-scroll-list__item p {
        color: #666;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        opacity: 0.5;

    }

    .product-scroll-list__navigate {
        position: relative;
        top: 29%;
    }

    .product-scroll-list__navigate-button {
        position: absolute;
        width: 64px;
        height: 64px;
        background: white;
        right: -47px;
        top: 50%;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    }

    .product-scroll-list__navigate-button::after {
        content: "";
        display: block;
        background-image: url(images/arrow-right.svg);
        width: 11px;
        height: 16px;
        background-size: contain;
        position: absolute;
        left: calc(50% - 4px);
        top: calc(50% - 8px);

    }

    @media (max-width: 720px) {

        .product-scroll-list-wrapper {
            overflow: auto;
            overflow-y: scroll;
        }

        .product-scroll-list {
            margin-bottom: 81px;
        }

        .product-scroll-list h2 {
            font-size: 25px;
            margin-bottom: 16px;
        }

        .product-scroll-list__navigate {
            display: none;
        }

        .product-scroll-list__item h3 {
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.7px;
            margin: 14px 0 2px 0;
        }

        .product-scroll-list__item {
            min-width: 230px;
        }
    }
</style>