<div class="c-static-slider">
    <div class="c-static-slider__content">
        <div class="c-static-slider__header-content">
            <h1 class="c-static-slider__header">
                <span class="c-static-slider__header--bold">{header}</span>
                <span class="c-static-slider__header--thin">{preamble}</span></h1>
            <a class="c-static-slider__cta" href="{url}">{button}</a>
        </div>
    </div>
</div>

<style>
    .c-static-slider {
        height: calc(100vh - 170px);

        position: relative;

        background-image: url('{image}');
        background-size: auto 100%;
        animation-name: animated-background;
        animation-duration: 800s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .c-static-slider--full-height {
        height: 100vh;
    }

    @keyframes animated-background {
        from {
            background-position: 0% 0;
        }

        to {
            background-position: 1000% 0;
        }
    }

    .c-static-slider__content {
        height: 100%;
        width: 100%;
        position: absolute;
        -webkit-font-smoothing: antialiased;
    }

    .c-static-slider__header-content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        color: white;
    }

    .c-static-slider__header {
        font-weight: 700;
        text-align: center;
        margin-bottom: 48px;
    }

    .c-static-slider__cta {
        display: inline-block;
        border: 1px solid white;
        text-transform: uppercase;
        color: inherit;
        padding: 15px 48px;
        font-size: 13px;
        border-radius: 4px;
        margin: 0 auto;
        -webkit-font-smoothing: antialiased;
        letter-spacing: 1.42px;
        text-decoration: none;
        font-weight: 400;
        transition: color 0.15s ease, background-color 0.15s ease;
    }

    .c-static-slider__cta:hover {
        background: white;
        color: black;

    }

    .c-static-slider__header--thin,
    .c-static-slider__header--bold {
        display: block;

    }

    .c-static-slider__header--thin {
        display: block;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.56px;
        font-weight: 300;
    }

    .c-static-slider__header--bold {
        font-size: 49px;
        line-height: 54px;
        display: block;
        margin: 0 0 26px 0;
    }

    @media only screen and (max-width: 720px) {
        .c-static-slider {
            height: calc(100vh - 96px);
        }

        .c-static-slider__header-content {
            top: 36%;
        }

        .c-static-slider__header--bold {
            font-size: 38px;
            line-height: 50px;

            margin: 0 0 26px 0;
        }

        .c-static-slider__header--thin {
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0;
        }
    }
</style>