<div class="section-wrapper">
    <div class="product-description">
        <h2>Känslan av att kliva ut i en skog är oslagbar.</h2>
        <p>Luften fyller lungorna med ny kraft. Det stilla suset av vajande trädtoppar. Skogens dofter och ljud. Vår
            färg
            Tall är noga balanserad och utvald för att förmedla den känslan. </p>
    </div>
</div>
<style>
    .product-description {
        padding: 110px 0 70px;
        max-width: 890px;
    }

    .product-description,
    .product-description h2 {
        font-size: 34px;
        font-weight: 300;
        line-height: 37px;
        color: #666;
    }

    .product-description h2 {
        font-weight: 400;
        letter-spacing: -0.44px;
        color: #989A85;
        margin: 0 0 12px 0;
    }

    .product-description p {
        opacity: 0.4;
    }
</style>