<div class="video-reveal">
    <div class="section-wrapper">
        <img src="images/video-poster-temp.jpg">
    </div>
</div>

<style>
    .video-reveal {
        margin-bottom: 114px;
    }

    @media (max-width: 720px) {
        .video-reveal {
            margin-bottom: 65px;
        }

        .video-reveal .section-wrapper {
            padding-left: 0;
            padding-right: 0;
            height: 70vh;
        }

        .video-reveal img {
            height: 100%;
            object-fit: cover;
        }

    }
</style>