<div class="c-video-hero">
    <video autoplay muted loop playsinline class="c-video-hero__video">
        <source src="{video-url}" type="video/mp4">
    </video>

    <div class="c-video-hero__content">
        <h1 class="c-video-hero__header">
            <span class="c-video-hero__header--bold">10 färger hämtade från naturen</span>
            <span class="c-video-hero__header--thin">Vi kallar färgkollektionen Jordnära</span></h1>
    </div>

    <a class="c-video-hero__scroll-link" href="#">Se alla våra färger</a>
</div>

<script>
    var video = $('.c-video-hero__video');

    //video[0].addEventListener("loadedmetadata", function () { this.currentTime = 6; }, false);

    $('.c-video-hero__scroll-link').click(function (e) {
        e.preventDefault();
        var height = $(this).closest('.c-video-hero').position().top + $(this).closest('.c-video-hero').height();
        $('html, body').animate({ scrollTop: height }, 250, 'swing');


    });

</script>

<style>
    .c-video-hero {
        position: relative;
        overflow: hidden;
        height: calc(100vh - 169px);
        z-index: 1;
        -webkit-font-smoothing: antialiased;
    }

    .c-video-hero__scroll-link {
        position: absolute;
        color: white;
        bottom: 40px;
        font-weight: 300;
        left: 50%;
        transform: translateX(-50%);
        font-size: 19px;
        line-height: 1;
    }

    .c-video-hero__scroll-link::before {
        content: "";
        display: inline-block;
        width: 36px;
        height: 36px;
        background-image: url(images/arrow-down.svg);
        position: relative;
        top: 10px;
        margin-right: 12px;
    }

    .c-video-hero__video {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #ccc;
    }

    .c-video-hero__content {
        position: absolute;
        width: 100%;
        max-width: 660px;
        left: 50%;
        top: 50%;

        transform: translate3d(-50%, -50%, 0);
        color: white;
    }

    .c-video-hero__header {
        text-align: center;
        padding: 0 10%;
    }

    .c-video-hero__header--bold,
    .c-video-hero__header--thin {
        display: block;
    }

    .c-video-hero__header--bold {
        font-size: 59px;
        line-height: 60px;
        letter-spacing: 0;
        margin-bottom: 22px;
        font-weight: 700;
    }

    .c-video-hero__header--thin {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 41px;
        letter-spacing: 0;
        font-weight: 300;
        text-transform: none;
    }

    @media (max-width: 720px) {
        .c-video-hero__scroll-link {
            display: none;
        }

        .c-video-hero__header--bold {
            font-size: 36px;
            line-height: 45px;
        }

        .c-video-hero__header--thin {
            font-size: 16px;
            line-height: 26px;
        }
    }
</style>