* {
    font-family: 'F37 Ginger';
}

body {
    color: #666;
}

.navigation {
    margin-bottom: 62px;
}

.navigation-content {
    top: 0;
    background: white;
    height: 62px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-bottom: 100px;
}

.navigation__logo {
    width: 135px;
    height: 22px;
}

.static-slider {
    height: 76.5vh;
    background: black;
    position: relative;

    background-image: url('images/10-moodboards.png');
    background-size: auto 100%;
    animation-name: animated-background;
    animation-duration: 800s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.static-slider--full-height {
    height: 100vh;
}

@keyframes animated-background {
    from {
        background-position: 0% 0;
    }

    to {
        background-position: 1000% 0;
    }
}

.static-slider__content {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-font-smoothing: antialiased;
}

.static-slider__header-content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    color: white;
}

.static-slider__header {
    text-align: center;
}

.static-slider__cta {
    display: inline-block;
    border: 1px solid white;
    text-transform: uppercase;
    color: inherit;
    padding: 15px 48px;
    font-size: 13px;
    border-radius: 4px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 38px;
}

.static-slider__cta:hover {
    background: white;
    color: black;

}

.static-slider__header--thin,
.static-slider__header--bold {
    display: block;

}

.static-slider__header--thin {
    display: block;
    font-size: 19px;
    font-weight: 200;

}

.static-slider__header--bold {
    font-size: 39px;
    line-height: 49px;
    display: block;
    margin-bottom: 14px;
}

.module__text {
    padding: 36px;
    font-size: 24px;
    line-height: 33px;
}

.module__text p {
    margin-bottom: 4px;
}

.module__text--dimmed {
    opacity: 0.4;
}

.modal-cards--expanded .modal-card:not(.modal-card--expanded) {
    transform: scale3d(0.8, 0.8, 1);

}

.modal-card {
    display: block;
    padding: 0 36px;
    transition: transform 0.5s ease;

}

.modal-card__content {
    border-radius: 6px;
    margin-bottom: 36px;
    height: 290px;
    background: #eee;
}