<div class="color-navigation" style="height: 197px;
width: 100%;
overflow-x: overlay;
overflow-y: hidden;
position: relative;
margin-top: -90px;" class="color-navigation">
    <img style="max-width: none; height: 100%;" src="images/color-nav.png">


    <a style="position: absolute; left: 0; top: 0; display: inline-block; height: 100%; width: 20%;"
        href="color-tall.html"></a>

    <a style="position: absolute; left: 20%; top: 0; display: inline-block; height: 100%; width: 20%;"
        href="color-sand.html"></a>
</div>

<style>
    .color-navigation::-webkit-scrollbar {
        width: 0 !important
    }
</style>