<div class="module__text">
    <p>Utforska vår färgkollektion jordnära. Svanenmärkta färger inspirerade av vår nordiska natur.</p>
    <p class="module__text--dimmed">Skiftar vår färg Hav i ton och känsla beroende på ljus och övriga färger i
        rummet.</p>
</div>

<style>
    .module__text {
        color: #c3a472;
        padding: 36px;
        font-size: 24px;
        line-height: 33px;
        font-weight: 200;
        background-color: white;
        position: relative;
        z-index: 1;
    }

    .module__text p {
        margin-bottom: 4px;
    }

    .module__text--dimmed {
        opacity: 0.6;
    }
</style>